<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CHAT</title>
  <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon"> <!--favicon-->
  <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1b54c9964468d92e3c0786edc63d6d8a"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}?after"> <!--import할 css 파일 위치 적기-->
  <script defer src="{% static 'js/home.js' %}?after"></script>
</head>
<body>
  <header>
    <div class="inner">
        <h1><a href="{% url 'home' %}">Alex</a></h1>
    </div>
  </header>

  <div id="chat-container">
    <div id="chat-header">
      <h3>Chat Alex</h3>
    </div>
    <div id="chat-body">

    </div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Type your message...">
      <button id="send-button" onclick="sendMessage()">Send</button>
    </div>
  </div>
</body>
</html>
