<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ALEX</title>
  <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon"> <!--favicon-->
  <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/food_detail.css' %}?after"> <!--import할 css 파일 위치 적기-->
  <script defer src="{% static 'js/intro.js' %}"></script>
</head>
<body>
  <header>
    <div class="inner">
        <h1><a href="{% url 'home' %}">Alex</a></h1>

        <ul id="gnb">
          <li>
            <a href="#">소개</a>
            <ul class="submenu">
              <li><a href="{% url 'intro_alex'%}">Alex</a></li>
              <li><a href="{% url 'intro_parrot'%}">패럿</a></li>
              <li><a href="{% url 'intro_CNU'%}">CNU</a></li>
              <li><a href="{% url 'intro_release'%}">Release</a></li>
            </ul>
          </li>
          <li>
            <a href="#">서강맛집</a>
            <ul class="submenu">
              <li><a href="{% url 'food_list'%}">전체</a></li>
              <li><a href="{% url 'food_jeong'%}">정문</a></li>
              <li><a href="{% url 'food_nam'%}">남문</a></li>
              <li><a href="{% url 'food_hoo'%}">후문</a></li>
              <li><a href="{% url 'food_shinchon'%}">신촌</a></li>
            </ul>
          </li>
          <li><a href="#">학식</a></li>
          <li><a href="{% url 'hunQ' %}">100문 100답</a></li>
          <li>
            <a href="#">그 외 기능</a>
            <ul class="submenu">
              <li><a href="#">빈강의실</a></li>
              <li><a href="https://library.sogang.ac.kr/htmlmanager/service/21">열람실 조회</a></li>
              <li><a href="#">뻔뻔</a></li>
              <li><a href="https://library.sogang.ac.kr/">도서검색</a></li>
              <li><a href="{% url 'question_list' %}">Q&A</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </header>

  <div class="food_detail">
    <h2>{{ food.restaurant }}</h2>
    <p>음식 분류 : {{ food.category }}</p>
    <p>주요 메뉴 : {{ food.description }}</p>
    <p>위치 : {{ food.location }} </p>
    <p>상세주소 : {{ food.location_detail }}</p>
    <img src="{{ food.image }}" width="200" /><br>
    <a href="{{ food.image_url }}">사진 및 리뷰 더 보러가기</a>
  </div>

  <br>

  <footer>
    <div class="inner">
        <div class="upper">
            <h1>Alex</h1>
            <ul>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Family Site</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>

        <div class="lower">
            <address>
                서울특별시 마포구 백범로 35<br>
                TEL : 031-111-1234 C.P : 010-1234-5678
            </address>
            <p>
                2024 Alex &copy; copyright all right reserved.
            </p>
        </div>
    </div>
  </footer>
</body>
</html>