<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PARROT</title>
  <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon"> <!--favicon-->
  <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/intro_parrot.css' %}?after"> <!--import할 css 파일 위치 적기-->
  <script defer src="{% static 'js/intro.js' %}"></script>
</head>
<body>
  <header>
    <div class="inner">
        <h1><a href="{% url 'home' %}">Alex</a></h1>

        <ul id="gnb">
          <li>
            <a href="#">소개</a>
            <ul class="submenu">
              <li><a href="{% url 'intro_alex'%}">Alex</a></li>
              <li><a href="{% url 'intro_parrot'%}">패럿</a></li>
              <li><a href="{% url 'intro_CNU'%}">CNU</a></li>
              <li><a href="{% url 'intro_release'%}">Release</a></li>
            </ul>
          </li>
          <li>
            <a href="#">서강맛집</a>
            <ul class="submenu">
              <li><a href="{% url 'food_list'%}">전체</a></li>
              <li><a href="{% url 'food_jeong'%}">정문</a></li>
              <li><a href="{% url 'food_nam'%}">남문</a></li>
              <li><a href="{% url 'food_hoo'%}">후문</a></li>
              <li><a href="{% url 'food_shinchon'%}">신촌</a></li>
            </ul>
          </li>
          <li><a href="#">학식</a></li>
          <li><a href="{% url 'hunQ' %}">100문 100답</a></li>
          <li>
            <a href="#">그 외 기능</a>
            <ul class="submenu">
              <li><a href="#">빈강의실</a></li>
              <li><a href="https://library.sogang.ac.kr/htmlmanager/service/21">열람실 조회</a></li>
              <li><a href="#">뻔뻔</a></li>
              <li><a href="https://library.sogang.ac.kr/">도서검색</a></li>
              <li><a href="{% url 'question_list' %}">Q&A</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </header>

  <div class="explain">
    <img id="parrot_logo" src="{% static 'image/parrot_logo.png' %}">
    <div>서강대학교 데이터 사이언스 학회 Parrot은 데이터 사이언스에 관심이 있는 학생들이 모여 학습 네트워크를 형성하는 서강대학교 교내 학회입니다.<br>
      Parrot은 데이터 사이언스에 관심이 있는 서강대학교 학생이라면 누구나 함께할 수 있습니다.<br>
      Parrot은 학기와 방학 중 기초 파이썬부터, 딥러닝, 머신러닝 등 폭 넓은 교육세션이 진행되고 있으며 마음이 맞는 학생들과 함께 시각화, NLP 등 데이터와 관련된 스터디를 진행하고 있습니다.<br>
      또한 교육 세션 및 스터디를 통해 배운 내용을 토대로 여러가지 프로젝트들을 진행하여 학회원들의 역량을 극대화 할 수 있도록 최선을 다해 지원하고 있습니다.<br>
      Parrot은 데이터 사이언스라는 공통된 관심사를 바탕으로 형성된 플랫폼 안에서 함께 성장하며 새로운 빅데이터 시대를 이끌어갈 미래의 데이터 사이언티스트들을 기다리고 있습니다!<br>
    </div>
    <br><a id="go_parrot" href="https://sogang-parrot.notion.site/sogang-parrot/Sogang-Parrot-ab6f98ec38b24a3d8d1da775813a7893">패럿에 대해 더 알아보기</a><br>
  </div>

  <footer>
    <div class="inner">
        <div class="upper">
            <h1>Alex</h1>
            <ul>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Family Site</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>

        <div class="lower">
            <address>
                서울특별시 마포구 백범로 35<br>
                TEL : 031-111-1234 C.P : 010-1234-5678
            </address>
            <p>
                2024 Alex &copy; copyright all right reserved.
            </p>
        </div>
    </div>
  </footer>
</body>
</html>