@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* header */
header {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
header .inner {
	width: 1180px;
	height: 80px; /*윗부분으로부터 길이*/
	margin: 0px auto;
	position: relative; /*자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
	position: absolute;
	left: -50px;
	bottom: 15px;
}
header .inner h1 a {
	font: bold 24px/1 "arial";
	color: #444;
}
/*gnb*/
header .inner #gnb {
	position: absolute;
	bottom: 0px;
	right: 100px; /*오른쪽에서 얼마나 떨어질지*/

	width: 1000px;
	margin: 30px auto;
}
header .inner #gnb >  li:nth-of-type(1) {
	float: left;

	position: absolute;
	width: 20%;
	right: 800px;
	top: -25px;
	text-align: center;
	line-height: 40px;
	z-index: 2;
}
header .inner #gnb >  li:nth-of-type(2) {
	float: left;

	position: absolute;
	width: 20%;
	right: 600px;
	top: -25px;
	text-align: center;
	line-height: 40px;
	z-index: 2;
}
header .inner #gnb >  li:nth-of-type(3) {
	float: left;

	position: absolute;
	width: 20%;
	right: 400px;
	top: -25px;
	text-align: center;
	line-height: 40px;
}
header .inner #gnb >  li:nth-of-type(4) {
	float: left;

	position: absolute;
	width: 20%;
	right: 200px;
	top: -25px;
	text-align: center;
	line-height: 40px;
}
header .inner #gnb >  li:nth-of-type(5) {
	float: left;

	position: absolute;
	width: 20%;
	right: 0px;
	top: -25px;
	text-align: center;
	line-height: 40px;
}
header .inner #gnb li a {
	display: block; /*인라인 요소는 block설정하여 크기를 조절가능*/
	font: bold 15px/1 "arial";
	color: #555;
	padding: 20px 40px;
	transition: all 0.5s;
}
header .inner #gnb li a:hover {
	background: #555;
	color: #fff;
}
.submenu > li {
	line-height: 50px;
}
.submenu {
	height: 0;
	overflow: hidden;
}
#gnb > li:hover {
	position: absolute; /*포인트*/
	transition-duration: 0.5s;
}
#gnb > li:hover .submenu {
	height: 275px; /*submenu 길이*/
	transition-duration: 0.5s;
	overflow:visible;
	background: #f4f4f4;
	z-index: 2;
}

/*body*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/*form*/
.ask_question {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ask_question h2 {
  color: #B60005;
  margin-bottom: 20px;
}

.ask_question form {
  display: flex;
  flex-direction: column;
}

.ask_question .form-group {
  margin-bottom: 15px;
}

.ask_question label {
  color: #343a40;
  margin-bottom: 8px;
}

.ask_question .form-control {
  padding: 10px;
  border: 1px solid #B60005;
  border-radius: 5px;
}

.form-group #id_title {
  width: 556px;
  height: 20px;
}

.form-group #id_content {
  width: 556px;
  height: 160px;
}

.ask_question .form-control:focus {
  border-color: #B60005;
  box-shadow: 0 0 0 0.2rem rgba(182, 0, 5, 0.25);
}

.ask_question .btn-primary {
  background-color: #B60005;
  color: #ffffff;
  border: 1px solid #B60005;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.ask_question .btn-primary:hover {
  background-color: #960004;
  border-color: #960004;
}

@media screen and (min-width: 800px) {
  #chat-container {
    max-width: 800px; /*채팅창 최대 옆길이 설정*/
  }
}

/* footer */
footer {
	width: 100%;
	background: #333;
	padding: 30px 0px; /*footer 높이에 영향을 많이 주는 패딩*/
	border-top: 1px solid #888;
}
footer .inner {
	width: 1180px;
	margin: 0px auto;
}
footer .inner .upper {
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper::after {
	/*상단 영역 float해제*/
	content: "";
	display: block;
	clear: both;
}
footer .inner .upper h1 {
	float: left;
	font: bold 24px/1 "arial";
	color: #666;
}
footer .inner .upper ul {
	float: right;
}
footer .inner .upper ul li {
	float: left;
	margin-left: 20px;
}
footer .inner .upper ul li a {
	font: bold 14px/1 "arial";
	color: #666;
}
footer .inner .lower {
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower address {
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}
footer .inner .lower p {
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
}